

.home {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: calc(100vh - 6rem);


    header {
        margin: 1rem 0;

        h3 {
            display: flex;
            align-items: center;
            gap: 1rem;
            &::before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 10px;
                display: block;
                background-color: var(--purple-500);
            }
        }
    }

    ul {
        list-style: none;

    }
}

@media (max-width: 1020px) {
    .home {
        display: flex;
        overflow-x: auto;
        

        section {
            width: 90%;
            flex-shrink: 0;
        }
    }
}